* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

.about, #portfolioCarousel, #contactForm {
  margin: 20vh 2vw;
}

.wrapper {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body, html {
  background-color: grey;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  position: absolute;
}


#header {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-image: url(../assets/header3.png);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

h1 {
  position: absolute;
  padding: 1em 2em;
  font-size: 3em;
  color: #fbfcfb;
  text-shadow: #f0bebd 0.04em 0.02em 0.08em;
}

.spaceForParallax {
  width: 100vw;
  height: auto;
}

#nav {
  width: 100vw;
  height: 10vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
  z-index: 99999999 !important;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  line-height: 2em;
  background-color: black;
  font-weight: 900;
  color: white;

}

.navItem {
  display: block;
  width: auto;
  font-size: 1.75em;
  font-weight: 900;
  overflow: hidden;
  justify-content: center;
  align-self: center;
  background: black;
}

a {
  justify-content: center;
  align-self: center;
  color: white;
  text-decoration: none;
  background-color: black;
}

label {
  font-size: 2em;
  line-height: 2em;
  color: white;
  justify-content: center;
  align-self: center;
  margin: 0;
}

#burger {
  display: none;
}

.navItem:hover a {
  color: white;
}

.navItem:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.6s;
  text-decoration: none;
}

.navItem:hover::after {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.highLight {
  color: #e6a29b;
}

.sticky + main {
  padding-top: 80px;
}

main {
  width: 100vw;
  height: auto;
  padding: 0px;
}

#about {
  display: flex;
  flex-direction: column;
  padding: 20vh 15vw;
}
#about h2 {
  align-self: flex-start;
  font-size: 2em;
  color: #fbfcfb;
  text-shadow: #f0bebd 0.08em 0.04em 0.08em;
}

#headshot {
  align-self: flex-start;
  border-radius: 50%;
}

#headshotLookUp {
  border-radius: 5px;
}



#about p {
  align-self: flex-end;
  width: 60vw;
  height: auto;
  padding: 2em;
}

.portfolioCarousel {
  width: 50vw;
  height: auto;
}

.portfolioToggle {
  background-color: black;
}

.carousel-item {
  height: 80vh;
  width: auto;
}

#testimonials {
  background-image: url(../assets/graf2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  min-height: 768px;
  width: 100vw;
  display: flex;
}

article {
  background-color: rgba(255, 255, 255, 0.7);
  height: auto;
  width: 50vw;
  border-radius: 3%;
  padding: 4vh 6vw;
}
article img {
  width: 30vw;
  max-width: 337px;
  height: auto;
}
article p {
  margin: 1em 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  padding: 0.25em;
}

.hidden {
  display: none;
}

#lightBox {
  height: 100vh;
  width: 100vw;
}

#contactForm {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* MailChimp form */
#mc_embed_signup {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font: .5em Helvetica, Arial, sans-serif;
  min-width: 20vw;
  border-radius: 10px;
}

#mc-embedded-subscribe {
  background-color: #549499 !important;
}





#particles-js {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-image: url(../assets/sf4.jpeg);
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100vw;
  height: 20vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  color: white;
  font-size: 1em;
}


/* Ham */
/* menu */
.header {
  background-color: black;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 35px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 12px;
}

.header .menu-icon .navicon:after {
  top: -12px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ #nav {
  min-height: 300px;

}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.projectSummaryWrapper {
  display: flex;
  justify-content: center;
}

.projectSummary {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.white {
  width: 100vw;
  height: 30vh;
  background-color: black;
}

.grey {
  width: 100vw;
  height: 30vh;
  background-color: grey;
}

.clearBlock {
  width: 100vw;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;


}

.thumbnail, .thumbnailTwo {
  width: 30vw;
  z-index: -9999 !important;

}



/* 48em = 768px */

@media (min-width: 48em) {


  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header #nav {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 47em) {
  #nav {
    width: 100vw;
    height: auto;
    overflow: visible;
    /* visable */
    background-color: black;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-content: initial;
    flex-wrap: nowrap;
    list-style: none;
    line-height: 2em;
    background-color: black;
    font-weight: 900;
    color: white;
  }

  .navItem {
    align-self: flex-start; 
  }

  #about p {
    align-self: center;
    width: 80vw;
    height: auto;
    padding: 0;

  }

  .projectSummary {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .thumbnail, .thumbnailTwo {
    width: 80vw;
    z-index: -9999 !important;
  
  }

  #mc_embed_signup {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font: .5em Helvetica, Arial, sans-serif;
    min-width: 80vw;
    border-radius: 10px;
  }
}


